<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";

  }
  html,body{
    height: 100%;
    width: 100%;
  }
  #main{
    padding: 20px 20px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    
  }
  .container{
    padding: 10px 15px;
    height: 80vh;
    overflow-y: auto;
    width: 100%;
    border-radius: 10px;
    background-color:#fcd5ce;
    }
  textarea{
    margin-top: 8px;
    width: 90%;
    border: none;
    outline: none;
    resize: none;
    border-radius: 10px;
    height: 8vh;
    padding: 15px 20px;
     background-color: #ffe5d9;
     font-size: 20px;
  }
  textarea::-webkit-scrollbar{
    display: none;
  }
  button{
  
 
   border: none;
   border-radius: 10px;
    font-size: 18px;
    padding: 17px 25px;
    background-color: #f1faee;

  }
  .msg{
    margin-top: 8px;
    border-radius: 10px;
    padding: 10px 20px;
    height: 5vh;
    width: fit-content;
    background-color:#f8edeb;
  }
  #nav{
    padding: 10px 20px;
  }
  #box{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  #overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000000a2;
  }
  input{
    padding: 20px 20px;
    border-radius: 10px;
    background-color:azure;
    font-size: 18px;
    border: none;
  }
</style>
<body>
  
 <div id="main">
  <div id="overlay">
    <input id="inpt" type="text">
    <button id="setname">Set Name</button>
  </div>
  <div id="nav">
    <h4>Active : <span id="active"></span></h4>
  </div>
 <div class="container">

 </div>
<div id="box">
  <textarea></textarea>
 <button id="btn">send</button>
</div>
 </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js" integrity="sha512-Z6C1p1NIexPj5MsVUunW4pg7uMX6/TT3CUVldmjXx2kpip1eZcrAnxIusDxyFIikyM9A61zOVNgvLr/TGudOQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
     var socket = io();
   
      var textarea = document.querySelector("textarea");
      var btn = document.querySelector("#btn");
      var container = document.querySelector(".container");
      var input = document.querySelector("#inpt");
      var setName = document.querySelector("#setname");

      setName.addEventListener("click",function(){
        socket.emit("setName",{name:input.value,userId:socket.id});
        document.querySelector("#overlay").style.display = 'none';
      })
         
      btn.addEventListener('click',function(data){
       
        socket.emit('chat message', textarea.value);
        textarea.value = '';
      })
      
    socket.on("activeUsers",function(activeUsers){
     document.querySelector("#active").textContent = activeUsers;
    })

      socket.on('chat message', function(msg,naam) {
  
        container.innerHTML += `<div class="msg">${naam} : ${msg}<div>`;
  });
     
  
 

    textarea.addEventListener("keydown",function(dets){
      if(dets.key == 'Enter'){
        btn.click();
      }
    })
   
     
  </script>
</body>
</html>